@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
box-sizing: border-box;
}
body{
  background-color:grey;
  color: black;
  font-family: 'Dancing Script', cursive;
  margin: 1rem;
}
.movie{
  width: 300px;
}

