@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
box-sizing: border-box;
}
body{
  background-color:grey;
  color: black;
  font-family: 'Dancing Script', cursive;
  margin: 1rem;
}
.movie{
  margin: 1rem;
  width: 300px;
  background-color: #bbbb ;
}
.movie img{
  max-width: 100%;
}
.movie-container{
  display: flex;
  flex-wrap: wrap;
}